<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DocumentStoreTestEntities" connectionString="metadata=res://*/Personal.Data.csdl|res://*/Personal.Data.ssdl|res://*/Personal.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=DocumentStoreTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Connection" connectionString="Server=(local);Database=DocumentStoreTest;Trusted_Connection=True;"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IAbsenteeismbeService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55970/AbsenteeismbeService.svc/AbsenteeismbeService"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAbsenteeismbeService"
        contract="ServiceReference1.IAbsenteeismbeService" name="WSDualHttpBinding_IAbsenteeismbeService">
        <identity>
          <userPrincipalName value="SUPPORT\Bruno" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>