<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAbsenteeismbeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55970/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAbsenteeismbeService"
                contract="ServiceReference1.IAbsenteeismbeService" name="BasicHttpBinding_IAbsenteeismbeService" />
        </client>
    </system.serviceModel>
</configuration>